body {
    font-family: sans-serif;
    margin-top:60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
            max-width: 800px;
            margin: 0 auto;
            color:grey;
            font-family: times new roman;
            padding-left: 20px;
            padding-right: 20px;
  
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:#333;
    overflow:hidden;
}
li {
    float:left;
}
li a{
    color:white;
    padding:14px 16px;
    display:inline-block;
    text-decoration:none;
}
li a:hover{
    background-color:green;
}

form{
     background-color:red;
     opacity:0.65;
     width:25%;
     margin-left:auto;
     margin-right:auto
}